<nav [ngStyle]="{'background-color': color, 'border-bottom': border}">
	<ul>
		<li><a routerLink="/home" routerLinkActive="active" tabindex="0">
			<i class="fas fa-home"></i>
			<span> home</span>
		</a></li>
		<li><a routerLink="/projects" routerLinkActive="active" tabindex="0">
			<i class="fas fa-folder"></i>
			<span> projects</span>
		</a></li>
		<li><a routerLink="/experience" routerLinkActive="active" tabindex="0">
			<i class="fas fa-briefcase"></i> 
			<span> experience</span>
		</a></li>
	</ul>
</nav>