<section class="container head">

	<img class="head__img__desktop" src="assets/pictures/header_profile.webp" alt="Header Image">

	<div class="head__right">
		<div class="head__right__info">
			<h1>Jackson Eggers</h1>
			<img class="head__img__mobile" src="assets/pictures/header_landscape.webp" alt="Header Image">
			<h2>Passionate SWE, specializing in web development</h2>

			<p><i class="fas fa-location-dot"></i> Beaverton, OR</p>
		</div>

		<div class="head__right__links">
			<a *ngFor="let l of links" [href]="l.href" tabindex="0" target="_blank"><i *ngIf="l.icon" [ngClass]="l.icon"></i> {{ l.title }}</a>
		</div>

		<div class="head__right__contact">
			<a *ngFor="let l of contacts" [href]="l.href" tabindex="0"><i *ngIf="l.icon" [ngClass]="l.icon"></i> {{ l.title }}</a>
		</div>
	</div>
	
</section>