.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.horz-list {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.images {
	flex-wrap: nowrap;
	overflow-x: auto;
}

.images img {
	height: 10rem;
}

/* Remove scrollbar */
.images::-webkit-scrollbar {
	height: 0
}

.dialog-img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.btn-wrapper {
	margin-left: auto;
}

.fa-right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -2rem;
	font-size: 2rem;
	text-align: center;
	color: var(--color-accent-other);
}

@media screen and (max-width: 768px) {
	.images img {
		height: 7.5rem;
	}
	
	.fa-right {
		left: -0.25rem;
		top: -0.5rem;
		transform: rotate(45deg);
	}
}