<div class="container" [id]="'p'+project.id" [class]="highlighted ? 'highlighted' : ''">

	<h2>{{ project.title }}</h2>
	<p>{{ project.description }}</p>

	<!-- Links -->
	@if (project.links) {
		<div class="horz-list">
			@for (l of project.links; track l) {
				<a [href]="l.href" target="_blank" tabindex="0">
					@if (l.icon) {
						<i [class]="l.icon"></i>
					}
					<span>{{ l.title }}</span>
				</a>
			}
		</div>
	}

	<!-- Skill Chips -->
	<div class="horz-list">
		@for (s of project.skills; track s) {
			<app-chip
				[color]="highlighted ? 'var(--color-accent-other)' : 'var(--color-accent)'"
				[text]="s"></app-chip>
		}
	</div>

	<!-- Images List -->
	<div class="horz-list images">
		@for (i of project.images; track i; let idx = $index) {
			<img
				[src]="i" [alt]="project.title"
				(click)="modalImage = idx; showModal = true"
				tabindex="0" />
		}
	</div>

	<!-- Relevant Experience Button -->
	@if (!extraLink && project.relevantExperience !== undefined) {
		<a
			[routerLink]="'/experience/' + project.relevantExperience"
			class="btn-wrapper">
			<button class="btn">
				<span>relevant experience</span>
				<i class="fas fa-angle-right"></i>
			</button>
		</a>
	}

	<!-- Goto projects button -->
	@if (extraLink) {
		<a [routerLink]="extraLink" class="btn-wrapper">
			<button class="btn">
				<span>see more</span>
				<i class="fas fa-angle-right"></i>
			</button>
		</a>
	}

	<!-- Highlighted Arrow-->
	@if (highlighted) {
		<i class="highlight-point fas fa-right-long"></i>
	}

</div>

<!-- Image Popup Modal -->
@if (project.images) {
	<app-modal [title]="project.title" [(show)]="showModal">
		<div class="modal-body">
			<img [src]="project.images[modalImage]"
				[alt]="project.title"
				(click)="nextImage()"
				tabindex="0" />
			<!-- Action Buttons -->
			@if (project.images.length > 1) {
				<button class="left" (click)="lastImage()">
					<i class="fas fa-left"></i>
				</button>
			}
			@if (project.images.length > 1) {
				<button class="right" (click)="nextImage()">
					<i class="fas fa-right"></i>
				</button>
			}
		</div>
	</app-modal>
}
	