<div class="page">

	<app-title-card></app-title-card>

	<section class="container info">
		<h2>About Me</h2>

		<p>
			I started my programming passion in high school with a class in game development.
			That interest led me to getting a Bachelor's in Applied Computer Science at <a href="https://oregonstate.edu" target="_blank" tabindex="0">Oregon State University</a> in 2021.
			After graduating, I started working at a local company to grow my technical skills and learn more about the industry. You can see more about my experience <a routerLink="/experience" tabindex="0">here</a>.
		</p>

		<p>
			I enjoy starting up personal projects in my freetime relating to things that interest me or my friends, as well as 
			learning new technologies and languages. I also enjoy playing video games, watching movies, and working on my cars.
		</p>
	</section>

	<!-- Most Recent Professional Experience -->
	<section class="shoutout-box">
		<app-experience-item [experience]="recentExperience" [extraLink]="'/experience/' + recentExperience.id"></app-experience-item>

		<div class="tagline container"><i class="fas fa-clock"></i> Current Work</div>
	</section>

	<!-- Featured Project -->
	<section class="shoutout-box">
		<app-project [project]="featuredProject" [extraLink]="'/projects/' + featuredProject.id"></app-project>

		<div class="tagline container"><i class="fas fa-star"></i> Featured Project</div>
	</section>

</div>