.info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.shoutout-box {
	position: relative;
}

.tagline {
	position: absolute;
	top: -1rem;
	right: -0.75rem;
	padding: 0.25rem 0.5rem;
}

@media screen and (max-width: 768px) {
	.tagline {
		top: -0.5rem;
		right: -0.5rem;
	}
}