<div class="container" [id]="'e'+experience.id" [class.highlighted]="highlighted">

	<div class="head">
		@if (experience.link) {
			<p><a [href]="experience.link" target="_blank" tabindex="0">{{ experience.place }}</a></p>
		}
		@if (!experience.link) {
			<p>{{ experience.place }}</p>
		}
		<p>({{ experience.position }})</p>
	</div>

	<p class="timeline"><i class="fas fa-calendar"></i> {{ experience.start }} - {{ experience.end}}</p>

	<p class="desc">{{ experience.description }}</p>

	<!-- Relevant Projects Links (Only show on experiences tab) -->
	@if (experience.relevantProjects.length > 0 && !extraLink) {
		<div class="projects">
			<span><i class="fas fa-folder"></i> Relevant Projects: </span>
			@for (id of experience.relevantProjects; track id; let idx = $index) {
				<a
					[routerLink]="'/projects/'+id"
					tabindex="0">
					{{ getProjectNameFromID(id) }}
					@if (idx !== experience.relevantProjects.length - 1) {
						<span>, </span>
					}
				</a>
			}
		</div>
	}

	<!-- Skill Chips -->
	<div class="chips">
		@for (s of experience.skills; track s) {
			<app-chip
				[color]="highlighted ? 'var(--color-accent-other)' : 'var(--color-accent)'"
				[text]="s" ></app-chip>
		}
	</div>

	<!-- Goto Experiences Button -->
	@if (extraLink) {
		<a [routerLink]="extraLink" class="btn-wrapper">
			<button class="btn">
				<span>see more</span>
				<i class="fas fa-angle-right"></i>
			</button>
		</a>
	}

	<!-- Highlighted Arrow-->
	@if (highlighted) {
		<i class="highlight-point fas fa-right-long"></i>
	}

</div>
