.container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.head {
	display: flex;
	align-items: center;
	gap: 0.25rem;
}

.head p:first-child {
	font-weight: 700;
	font-size: 1.3rem;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.chips {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.fa-right {
	position: absolute;
	top: 40%;
	left: -2rem;
	font-size: 2rem;
	text-align: center;
	color: var(--color-accent-other);
}

@media screen and (max-width: 768px) {
	.head {
		flex-direction: column;
		align-items: flex-start;
	}

	.fa-right {
		left: -0.25rem;
		top: -0.5rem;
		transform: rotate(45deg);
	}
}