* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

	/* Color variables */
	--color-text: #f0f0f0;
	--color-accent: #4381C1;
	--color-accent-other: #ca3535;
	--color-bg: #212121;
	--color-fg: #161616;
	--color-fg-other: #c78989;
}

img {
	max-width: 100%;
	border-radius: 0.5rem;
}

a {
	color: var(--color-accent);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1 {
	color: var(--color-text);
}

.btn {
	background-color: var(--color-bg);
	border: 0.25rem solid var(--color-accent);
	border-radius: 0.5rem;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	color: var(--color-accent);
	transition: 0.1s ease-in-out;
}
.btn:active {
	transform: scale(0.95);
	filter: brightness(0.95);
}

/* Main content container style */
.container {
	background: var(--color-fg);
	color: var(--color-text);
	padding: 1rem;
	scroll-margin-top: 4.75rem;
	box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.5);
}

.page {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	max-width: 70vw;
	margin: 0 auto;
	align-items: center;
}

/* Container width shrinkers */
@media screen and (max-width: 1700px) {
	.page {
		max-width: 70vw;
	}
}
@media screen and (max-width: 1400px) {
	.page {
		max-width: 85vw;
	}
}
@media screen and (max-width: 1200px) {
	.page {
		max-width: 95vw;
	}
}
@media screen and (width < 768px) {
	.page {
		max-width: 100vw;
		padding: 1rem;
		gap: 1rem;
	}
	.container {
		max-width: 100%;
		box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.5);
	}	
}

.highlighted {
	border: 0.25rem solid var(--color-accent-other);
	box-shadow: none;
}
.highlighted a {
	color: var(--color-accent-other);
}
.highlighted .btn {
	border: 0.25rem solid var(--color-accent-other);
	color: var(--color-accent-other);
}