* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

	/* Color variables */
	--color-text-dark: #151515;
	--color-text-light: #f0f0f0;
	--color-accent: #4381C1;
	--color-fg: #98c1d9;
	--color-bg: #e0fbfc;
	--color-accent-other: #ca3535;
	--color-fg-other: #c78989;

	text-transform: lowercase;
}

img {
	max-width: 100%;
}

a {
	color: var(--color-accent);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.btn {
	background-color: var(--color-fg);
	border: 0.25rem solid var(--color-accent);
	border-radius: 0.5rem;
	padding: 0.25rem 0.5rem;
	font-size: 1rem;
	color: var(--color-accent);
}

.container {
	background-color: var(--color-fg);
	border: 0.25rem solid var(--color-accent);
	border-radius: 0.5rem;
	color: var(--color-text-dark);
	padding: 1rem;
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 100%;
	}	
}

.page {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	max-width: 70vw;
	margin: 0 auto;
	align-items: center;
}

/* Container width shrinkers */
@media screen and (max-width: 1700px) {
	.page {
		max-width: 70vw;
	}
}
@media screen and (max-width: 1400px) {
	.page {
		max-width: 85vw;
	}
}
@media screen and (max-width: 1200px) {
	.page {
		max-width: 95vw;
	}
}
@media screen and (max-width: 768px) {
	.page {
		max-width: 100vw;
		padding: 1rem;
		gap: 1rem;
	}
}

.highlighted {
	background-color: var(--color-fg-other);
	border: 0.25rem solid var(--color-accent-other)
}